[2018-06-05 16:12] JunyiSun opened #3 "Peer review"
- [x] “Explore how to deploy microservices to Kubernetes using Helm charts and manage them with kubectl”
At first I don't know what is kubectl at all, so when I read the last bit I was really confused what is kubectl and I googled it,  then I saw you define it in pre-requisite section. You may want to move the explanation a bit earlier?

- [x] "scaling Deployments"
Capitalizing Deployments? If it'

[2018-06-12 17:46] sishida opened #5 "ID critique overview edits"
General notes:
- [x] Introductory phrases/clauses should be set off by commas.
- [x] If a sentence has a subject and a verb/a complete clause on either side of the conjunction, the conjunction requires a comma after it. Example: "Stacy bought and used a laptop throughout college." (no comma) but "Stacy bought a laptop for college, but she uses a desktop at home." (comma included)
- [x] Try to avoi

[2018-06-15 20:57] Kubik42 commented on #5
The checked stuff is in as of f0023125a25580e443b6e5be87098926ffe7a807

[2018-06-20 19:38] sishida commented on #5
Answers to questions:
- Ah, I could have clarified this a bit better! The descriptive "-ly" words that we want to remove are the ones that don't add much value, such as "really", "very", "extremely", etc. The "-ly" words like "automatically", "manually" can be useful and can be included.
- "Setup" should actually be spelled as shown here, as one word and without the hyphen. I'm also not sure why y

[2018-06-28 21:57] evelinec opened #9 "Content review"
Abstract:

- [x] I think the "kubectl" command isn't needed. If you really think it's needed, it needs to be backticked?

What you'll learn

- [x] The two microservices you will deploy are called name and ping and are provided for you in the start directory. => I think it's not necessary to point to the `start` directory in this intro section.

- [ ] It feels like explanation is needed for "Pods"

[2018-07-09 19:15] leochr opened #11 "Review"
Very good guide.

Some minor changes needed.

- [x] `visit the official IBM chart GitHub repository` --> points to
https://github.ibm.com/IBMPrivateCloud/charts/tree/master/stable/ibm-open-liberty
Instead point to public repo : https://github.com/IBM/charts/tree/master/stable/ibm-open-liberty

- [x] `See the official Open Liberty Helm chart GitHub repository for more `
Same issue as above.

The un

[2018-07-10 15:10] Kubik42 commented on #9
**I think the "kubectl" command isn't needed. If you really think it's needed, it needs to be backticked?**

It feels like explanation is needed for "Pods" and "Ingress controller" as of what they are. Looks like "Pod" is explained in the later section.

Can be helpful to include a link to read more about "Ingress".

**The link in this step has an extra `\` on the test site: `kubernetes-helm, a pa

[2018-07-11 21:31] evelinec commented on #9
Didn't see changes or comment for the following points:

- [ ] I think the "kubectl" command isn't needed. If you really think it's needed, it needs to be backticked?

- [ ] Regarding the [] for a link to refer back to a section, looks like it's the way the reference is working. You have "<<>>" in your adoc, and that gets rendered into [] on github and the website. Btw, when clicking this link on

[2018-07-11 21:35] evelinec commented on #9
Also to add, I've changed my Helm version from "v2.10.0-rc.1" to "v2.9.1" then I was able to install the helm chart release successfully, re "Running the install a chart release commands gave error: Error: Chart incompatible with Tiller v2.10.0-rc.1."

[2018-07-11 21:38] evelinec opened #13 "Hardcoding the cluster ip"
While testing the guide and found that the `<cluster.ip>192.168.99.100</cluster.ip>` is hardcoded in the pom. This is a problem in my test, as the ip was different, ie, 192.168.99.101. Thus the test wouldn't pass.

Although I only get a test case failure after updating the greeting message.

Pls investigate.

[2018-07-12 17:43] Kubik42 commented on #9
**I think the "kubectl" command isn't needed. If you really think it's needed, it needs to be backticked?**

I already removed `kubectl` from the description. Which one are you referring to?

**Regarding the [] for a link to refer back to a section...**

I removed the section reference altogether.

**VirtualBox is required when running minikube on Mac.**

I think its up to the user to setup Miniku

[2018-07-16 18:46] evelinec commented on #9
@Kubik42 Here's the sentence with the "kubectl" command: Explore how to deploy microservices to Kubernetes and manage them with the kubectl Kubernetes CLI.

[2018-07-16 20:22] leochr commented on #11
@Kubik42 @evelinec

Hi, 

Open Liberty Helm chart v1.5.0 is now released and available in the IBM's public helm repo: 
https://github.com/IBM/charts/tree/master/stable/ibm-open-liberty

It includes the NGINX annotation fix. So the temporary instructions from this section can now be removed I guess:
https://github.com/OpenLiberty/draft-guide-kubernetes#installing-a-helm-chart-release
 

[2018-07-17 02:13] evelinec commented on #9
New issues:

- [ ] There are missing copyright header for the `ping` service client files

- [ ] The copyright year in the readme.adoc need to be updated to 2018 from 2017

[2018-07-17 20:50] Kubik42 commented on #11
Thanks @leochr ! I'll start cleaning those up

[2018-07-18 14:40] Kubik42 commented on #9
@evelinec addressed in 37d0d91e3a8508e5d31d9571f434487a4e248f33

[2018-07-18 14:40] Kubik42 commented on #11
@leochr addressed in 37d0d91e3a8508e5d31d9571f434487a4e248f33. Feel free to close if there is nothing else.

Thanks again for your feedback!

[2018-07-18 15:00] #11 closed

[2018-07-18 21:56] evelinec commented on #9
Reviewed changes. Looks good

[2018-07-18 21:56] #9 closed

[2018-07-19 15:35] evelinec opened #18 "User review feedback"
From Tommy:
I think the "what is kubernetes" section should be before the "what you will learn" section since there are references to technical details about kubernetes inside of the "what you will learn" section. Nobody will really understand what they "will learn" unless they already have prior knowledge.
I originally tried this lab through my ubuntu vm on command prompt but I had to stop becaus

[2018-07-24 21:59] wojtczat opened #19 "Feedback"
I could not get minikube running on Windows, so I completed the guide on my Ubuntu VM. Once I made it through the setup portion of the guide, I actually had a pleasant experience. For the most part each command executed smoothly and had a suitable amount of documentation to provide myself with an adequate knowledge of the concepts to continue moving forward.
Here are a few suggestions that I belie

[2018-08-07 20:53] evelinec commented on #19
@Kubik42 is this being addressed where possible for the guide and the rest in the setup instruction?

[2018-08-07 20:53] evelinec commented on #18
Same with this one. @Kubik42 is this being addressed where possible for the guide and the rest in the setup instruction?

[2018-08-09 14:54] #3 closed

[2018-08-10 18:59] evelinec commented on #18
Thanks @Kubik42. We'll review this issue and close once the install instructions are available.

[2018-08-10 21:05] evelinec commented on #19
@wojtczat can you review the changes and see if they address all of the issues you raised, except for the setup instruction. That'll be covered separately. Thank you.

[2018-08-14 16:01] Kubik42 commented on #5
- thanks for the clarification :)
- changed all "set-up" instances to "setup"
- @yeekangc what do you think about a diagram for this guide? I added a sample diagram I put together below
- Changed the sentence to " the iceberg that is {kube} has a lot more to offer."
- removed the comma to now say "supports a variety of container types and while you're not limited to any of them in particular, you

[2018-08-14 16:02] #13 closed

[2018-08-16 15:12] wojtczat commented on #19
Yes, this all looks good now.

[2018-08-16 18:45] #19 closed

[2018-08-19 07:51] yeekangc commented on #5
@gkwan-ibm, can you please take a look?

[2018-09-04 17:52] irobins opened #25 "Simplify instructions for Docker for Windows"
When using Docker for Windows, Kubernetes is now built-in and does not require explicit installation of minikube and kubectl. The instructions generally need to talk about "kubernetes" rather than "minikube", getting explicit only for how the pre-reqs are installed and started. Beyond that, kube is kube.

[2018-09-07 14:58] yeekangc commented on #25
Using Docker for Windows and Docker for Mac that include Kubernetes will simplify the setup procedure and experience.  They work and we have merged the PR submitted.

Then, Linux or Unix will still need to follow a different path since "Kubernetes" is still separate and there are differences in the commands covered in the guide between the platforms too.  We are looking at how to best present/cove

[2018-09-07 14:58] #25 closed

[2018-09-07 15:11] yeekangc opened #27 "Present platform-specific commands appropriately"
With the use of Docker for Windows and Docker for Mac that come with Kubernetes for Windows and Mac respectively, we will need to cover different commands for different platforms.  (Kube is a separate install for Linux.)

We need to work out the best possible way to present this within what we have today, update the (draft) guide accordingly, and take it up for review and feedback.

Should clean u

[2018-09-07 15:13] yeekangc commented on #5
@proubatsis, can you please follow up and wrap these up too?

[2018-09-10 13:27] proubatsis commented on #27
I laid out my ideas for how to solve this issue in #29 , let me know what you think.

[2018-09-10 15:49] yeekangc commented on #27
Tagging @cajaygle @megmulsy @lauracowen if they have thoughts.  @kinueng @mbroz2 @gcharters @NottyCode, FYI and your feedback welcome too.

The team will work out options given what we have and share them ASAP.

[2018-09-11 01:30] kinueng commented on #27
I think https://github.com/OpenLiberty/draft-guide-kubernetes/pull/29#issuecomment-419937079 is suggesting we have a single code block with selectable tabs on top.  The tabs would be labeled as "Windows, Unix, ..." and a reader can click one of the tabs to show the platform specific command.

If we want a code block with tabs, we will need to write an Asciidoc extension to support tabs since Ascii

[2018-09-11 13:19] yeekangc commented on #27
@kinueng, that is an idea or an option.  We don't have a decision on that yet but I will suggest for @cajaygle and @megmulsy to consider what will be the appropriate design for this using the Kube and Istio guides as the basis.

In the mean time, we are moving forward to try to wrap the Kube and Istio guides with what we have today -- with Asciidoc as-is; granted they must be consumable -- and any

[2018-09-11 14:38] cajaygle commented on #27
I also feel that having a single box with the platform-appropriate command would be the best.  we can auto-detect their platform, and at the beginning of the guide or first appearance of a platform-specific command we tell them we've auto-detected their platform and give them the option to change it.  then all subsequent instructions would use that platform to display the appropriate command.   if

[2018-09-11 15:07] proubatsis commented on #27
One thing to keep in mind is that it may not be **only** the commands that change. You may want a slightly different instructions as well. For example, in this guide we need to run `minikube start` for one platform, and for another platform we tell them to go to their settings and check a box. We could probably write them in a way such that only the commands change, but it would be more flexible t

[2018-09-17 20:23] justineechen opened #31 "User Review on Windows Machine"
### Timing
Kubernetes Guide without optional section: ~ 55 minutes
Optional section (alone): ~ 15 minutes

### Overall Feedback:
After reading the Windows/Mac version and I see a Linux step, I feel the need to read through the Linux step to make sure I didn't miss anything else that was meant for the Windows/Mac version. There were also times when I ran the Linux command instead of the Windows/Mac

[2018-09-17 20:45] Rachelwrq opened #32 "User Feedback the Kubernetes guide for MAC user"
### Timing
**Without the optional part**: 40 minutes
`mvn package` and `mvn verify` took up more than 5 minutes in the process

**Optional part alone**: 10 minutes

### General Feedback
The guide took relatively long compare to other open liberty guide, but it is very informative in terms of covering different major aspects of Kubernetes. Compare my past experience with other Kubernetes tutorials

[2018-09-18 17:59] evelinec opened #33 "Testing feedback on Mac"
Time on guide: 30-40 minutes

SETUP:

- [x] Add a note about using the latest of Docker version in prereq?

- [x] need a docker ID.. if using the “docker login” from command line, need to use the “sudo” command!!!!
	https://docs.docker.com/engine/reference/commandline/login/
- [x] For Minikube installation instructions see https://github.com/kubernetes/minikube. Make sure to read the "Requirements

[2018-09-18 18:02] evelinec opened #34 "Testing feedback on Ubuntu to be added to setup instructions"
- [ ] all docker commands requires “sudo”.. or add username to the “docker” group..

- [ ] install minikube command need “sudo” as well
	- minukube requirement: kubectl, VirtualBox or KVM, VT-x/AMD-v virtualization
	- really need instruction to install/configure each of the above

- [ ] kubectl installation should go before minikube? as kubectl is the prereq for minikube

- [ ] `mvc package` faile

[2018-09-19 16:11] lauracowen opened #35 "Review feedback"
My `kubectl` installation (brew on Mac) failed (error at the end of this issue) so I couldn't test it, just read it through.

Comments as I was reading:

- [x] ‘a developer’s primary tool’ - not really - it’s a devops tool, isn’t it? While a development scrum might be responsible for end-to-end story, I think it’s a push to say ‘developer’. Maybe just say 'a primary tool for deployment'....etc

-

[2018-09-21 20:01] evelinec opened #38 "Few minor things on 9/21's draft"
Tested the latest guide on Mac and everything is working. Few minor things that need to be addressed:

- [x] The `start/` directory to be specified as `start`

- [ ] The `curl` command didn't work:
[code]

- [x] The guide's duration can be 20-30 minutes now

[2018-09-24 01:56] andrewdes opened #39 "User Feedback (Windows)"
The new guide (without Ingess', helm and optional section) is a lot more manageable in the allocated time. Overall everything was easy to setup (Docker for Windows) and I didn't run into any issues.

Although, the entire guide still took me roughly 50 minutes (not counting pre-requisites). This is largely due to the fact that the first `mvn package` command took ~19 minutes.

### General

- [x] `P

[2018-09-24 19:13] proubatsis commented on #39
#40

[2018-09-25 19:38] proubatsis commented on #39
@andrewdes The PR has been merge, if all looks good then please close the issue.

[2018-09-26 14:09] proubatsis commented on #38
@evelinec That error is because the URL should be `http://localhost:31000/api/name` and not `http:localhost:31000/api/name`

[2018-09-26 14:09] #39 closed

[2018-09-26 14:18] proubatsis commented on #38
#42

[2018-09-26 17:32] gkwan-ibm opened #43 "Unused import in NameEndpointTest and PingEndpointTest"
Following import not necessary in NameEndpointTest and PingEndpointTest

import java.security.NoSuchAlgorithmException;
import javax.net.ssl.SSLContext;
import javax.net.ssl.TrustManager;
import javax.net.ssl.X509TrustManager;
import java.security.cert.X509Certificate;
import java.security.cert.X509Certificate;```

[2018-09-28 12:55] proubatsis commented on #43
@gkwan-ibm Pull request open: #44

[2018-09-28 13:41] evelinec opened #46 "SME review feedback on 9/27's draft"
Just went through the Kubernetes guide. Excellent guide to get started with Kubernetes! I like the fact that the key terms and concepts of Kubernetes are explained well without overwhelming new users.

Minor suggestions:

1) Perhaps the following sentences could be reworded (sorry, not a fan of words 'whatever' and 'thing')

"Finally, the container port containerPort is whatever the port that your

[2018-09-28 13:46] evelinec commented on #38
Oops, I thought I copied and pasted the curl sample line and just modified the hostname. Thanks!

[2018-09-28 13:46] #38 closed

[2018-09-28 13:47] evelinec commented on #35
Assign to @proubatsis to see if the remaining feedback is still valid on the revised guide.

[2018-09-28 13:50] evelinec commented on #34
Some of these can go into the setup instruction for Linux.

[2018-09-28 13:50] evelinec commented on #33
Fixed.

[2018-09-28 13:50] #33 closed

[2018-09-28 13:52] evelinec commented on #32
The rest of the feedback aren't relevant in the revised guide anymore.

[2018-09-28 13:52] #32 closed

[2018-09-28 14:02] evelinec commented on #31
Regarding "create our own set of pre requisites on the OL site", I think it's referring to the setup instructions. That will come as part of the kube guide. The start and finish folders are the structures of the guides. The rest of the points are not relevant in the revised guide anymore.

[2018-09-28 14:02] #31 closed

[2018-09-28 14:03] evelinec commented on #27
I think we're done with this issue with the current guide(s).

[2018-09-28 14:30] proubatsis commented on #46
Addressed in #45

[2018-09-28 14:41] proubatsis commented on #43
PR Merged

[2018-09-28 14:41] #43 closed

[2018-09-28 14:41] #27 closed

[2018-09-28 15:47] proubatsis commented on #46
PR Merged

[2018-09-28 15:47] #46 closed

[2018-09-28 18:12] proubatsis commented on #5
Several sections have been removed and/or significantly changed and the guide will go through ID review again.

[2018-09-28 18:12] #5 closed

[2018-09-28 20:11] proubatsis commented on #35
PR Merged. Closing Issue. Due to the re-write, some of the feedback was no longer applicable.

[2018-09-28 20:11] #35 closed

[2018-09-28 20:46] wojtczat opened #48 "Tommy's Feedback"
Hello, so this guide was very well done. I had no issues understanding any of the content or executing any of the commands being ran in this guide. There was a smooth and logical flow from one topic to the next making each bit of information easy to digest for even a novice user of Kubernetes. I only had tiny issues with the guide, one being the way some links were provided e.g. "To learn about th

[2018-10-01 12:42] proubatsis commented on #48
@evelinec @yeekangc We've talked about separating by MiniKube/DockerDesktop rather than by OS before, and the conclusion was that it would be better to separate by operating system. Is this still what we want to do, or does this feedback change your thoughts on it?

[2018-10-01 13:51] yeekangc commented on #48
I do believe we can have both mentioned i.e. separate by platforms and also indicate that it is Minikube or Docker Desktop.  The issue is that Docker Desktop is not everywhere.  And, what we have for Minikube may be specific to Linux only.

@gkwan-ibm

[2018-10-01 14:11] gkwan-ibm commented on #48
If I am fresh to Docker and Kubernetes, I do not know what Docker Desktop and Minikube are. It will be great for someone recommending me which is better to use in my computer. If I am familiar with them, I know which to use. I will realize "Is the guide described  correct or not?"

IMO, I prefer separating by OS.

[2018-10-01 15:13] wojtczat commented on #48
You can still run through this guide with minikube if you are on a mac so maybe just do "Linux | Mac" as well. I think you should at least be aware that you have both options.

[2018-10-01 15:39] yeekangc commented on #48
The consideration isn't with the instructions alone but also the prereq setup process.  That needs to be taken into account.

[2018-10-01 17:46] justineechen commented on #48
I like Option 3 as well. But my confusion with this part of the guide was that I couldn't tell when the LINUX instructions ended and the overall instructions began. So is it possible to section off the instructions that depend on environment even more? Maybe in a box or have a beginning line / end line in gray?

[2018-10-01 18:21] evelinec commented on #48
Perhaps we can still add a sentence at the end of the prereqs section to say something like: If you are working on Windows or Mac, follow the `WINDOWS | MAC` instructions. If You're working on Linux environment, follow the "LINUX" instructions.

[2018-10-01 18:56] proubatsis commented on #48
I like that suggestion @evelinec , how does this sound?

[code]

[2018-10-01 19:21] proubatsis commented on #48
Feedback addressed in #50
Please review @evelinec and @wojtczat

[2018-10-01 19:28] proubatsis commented on #48
Thank you @yeekangc , I updated the wording accordingly in the PR.

[2018-10-01 20:45] proubatsis commented on #48
The proposal is implemented in these PRs: https://github.com/OpenLiberty/draft-guide-kubernetes/pull/50 and https://github.com/OpenLiberty/guides-common/pull/178

Let me know if these are in line with what we want or if we should go for something else.

[2018-10-02 02:13] evelinec commented on #34
As part of the setup instruction on Linux, I'd think we want to include installing VB, ie, an complete end-to-end working installation instructions, otherwise, user may still get stuck somewhere.

[2018-10-02 02:14] evelinec commented on #34
These are just notes:

- docker images output is shorter on Ubuntu:
- kube pods take longer to be ready on Ubuntu:

[2018-10-02 04:06] evelinec commented on #48
Opened this issue https://github.com/OpenLiberty/guides-common/issues/179 to get improvement for the system text box to make the separation more obvious.

[2018-10-02 04:13] evelinec commented on #48
The system specific instructions are accurate and clear, we should not add additional tags that potentially causes more confusion. This means, no option 3 changes for the kube guide(s).

[2018-10-02 04:15] evelinec opened #51 "Mentioning about minikube stop at the beginning of the guide"
YK's feedback:

- [ ] Examine the necessity of this statement. If not needed, remove it.

Later, when you no longer need your cluster, you can stop it with minikube stop and delete it completely with minikube delete.

[2018-10-02 12:41] proubatsis commented on #48
Ready for review @wojtczat @evelinec : https://github.com/OpenLiberty/draft-guide-kubernetes/pull/50

[2018-10-02 12:50] proubatsis commented on #51
Resolved in: https://github.com/OpenLiberty/guides-common/pull/180

[2018-10-02 13:18] proubatsis commented on #48
PR Merged.

[2018-10-02 13:18] #48 closed

[2018-10-02 13:42] gkwan-ibm commented on #51
Also, the following statement too:

When you no longer want to use Minikube’s Docker daemon, run the following command to point back to your host:
[code]

[2018-10-02 13:49] proubatsis commented on #34
Resolved in: https://github.com/OpenLiberty/guides-common/pull/183

[2018-10-02 13:50] proubatsis commented on #51
Removed that too @gkwan-ibm

[2018-10-02 14:37] proubatsis commented on #34
This will be provided in a seperate document.

[2018-10-03 20:28] justineechen opened #54 "Pre-Publishing Tests"
Pre-Publishing Tests

- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs) of the guide on test site, ie, qa-guides
- [x] Clone repo and test finish directory with no error
- [x] Follow the guide to test that it is working

[2018-10-03 20:50] justineechen commented on #54
When visiting http://[hostname]:31000/api/name after scaling deployment, the name doesn't change on the browser but it does change when I run `curl` on the link.

[2018-10-03 20:55] evelinec commented on #54
I move the last point in the checklist to "Post-Publishing" as only then we'd have the working ol.io link.

[2018-10-03 22:54] gkwan-ibm opened #55 "Correct java code"
- [x] NameEndpointTest
  - remove `import java.security.KeyManagementException;`
- [x] PingEndpointTest
  - remove `import java.security.KeyManagementException;`
- [x] no line should longer than 80~88 characters

[2018-10-04 18:17] #55 closed

[2018-10-04 19:06] gkwan-ibm commented on #54
- at this moment, no change
- the guide will add command to show # of running instances (dockers) before and after scaling

[2018-10-05 12:30] proubatsis commented on #34
https://github.com/OpenLiberty/draft-guide-kubernetes/wiki/Setup-Instructions

[2018-10-05 16:47] gkwan-ibm opened #61 "mvn install fail"
Although the guide does not ask users to run mvn install and mvn clean, the pom.xml or whatever should handle it gracefully

[2018-10-05 17:16] gkwan-ibm opened #62 "Improve the auto test"
look for a better auto test for integrating change

[2018-10-05 17:20] gkwan-ibm opened #63 "Improve the instruction for scaling"
e.g. kubectl get pods, will see
[code]

[2018-10-05 18:15] #54 closed

[2018-10-05 18:57] kinueng opened #67 "Improve SEO for this guide"
We can improve the SEO for a direct link to this guide.  I believe these are the attributes with some examples from an existing OL.io blog post

[code]

[2018-10-05 20:47] andrewdes opened #68 "Feedback"
- [x] "Make sure you have the Docker version with the Docker Desktop support" -> "Make sure you have a Docker version with Docker Desktop support."

The way it is currently makes it sound like there is only one version of Docker that has Docker Desktop support.

----

- [x] After following the instructions and running `docker images`, I noticed that `gcr.io/google_containers/defaultbackend` wasn't

[2018-10-05 21:21] yeekangc commented on #68
@proubatsis, I thought "Make sure you have the Docker version with the Docker Desktop support" is fixed?

We should either say use a Docker Desktop version with Kubernetes support or use the latest version.

[2018-10-06 14:47] yeekangc commented on #68
Thank you, @proubatsis.  I reviewed, approved and merged.  The next OL.io refresh should pick it up.

[2018-10-09 18:38] proubatsis commented on #62
Fixed in: https://github.com/OpenLiberty/guide-kubernetes-intro/pull/69

[2018-10-11 14:16] evelinec commented on #67
We'll consider SEO for all guides all together. Close this issue for now.

[2018-10-11 14:16] #67 closed

[2018-10-11 14:18] evelinec opened #72 "End-to-end ID review for the Kube-intro guide"
As plan to have an end-to-end ID review for this guide.

[2018-10-11 14:41] proubatsis commented on #68
PR Merged

[2018-10-11 14:41] #68 closed

[2018-10-11 14:41] proubatsis commented on #63
PR Merged

[2018-10-11 14:41] #63 closed

[2018-10-14 19:28] evelinec opened #73 "Enable issues and PR creation notification on the repo"

[2018-10-19 17:15] evelinec commented on #73
Done

[2018-10-19 17:15] #73 closed

[2018-10-23 03:12] evelinec commented on #34
The setup instruction looks good. Didn't see the instruction on "enabling VT-x virtualization"? @proubatsis

[2018-11-08 18:12] justineechen commented on #34
Set up instructions work for RHEL and Ubuntu VMs. For RHEL, if testing from vlaunch VM (internally), we need to use the ibm-yum script but the user should be able to use yum on their own RH vm.

[2018-11-08 18:12] #34 closed

[2018-11-29 19:17] evelinec opened #76 "Need to rework the automated script to run candidate build test"
Currently the candidate build is NOT located in maven central, thus the normal way to test this guide is not working. We need to patch both the `name` and `ping` service's pom.xml to point to specific candidate build repo, in order to run the tests.

[2018-11-29 19:21] evelinec opened #77 "Consider a way to report build version in tests"
The tests in this guide do not generate a `console.log`, thus the common way to report the build version in the tests does not work. Need to work out a way to report the build version in automated tests.

[2018-12-12 16:59] evelinec commented on #76
Fixed in #82

[2018-12-12 19:14] #76 closed

[2018-12-20 17:52] wojtczat opened #84 "multipane"
- [x] change to page-layout:guide-multipane
## Prerequisites
- [ ] "Use the Docker Desktop" --> remove the
## Deploying Microservices
- [x] "To deploy the name and ping applications, create the kubernetes file." --> Create the Kubernetes Configuration File
- [x] add extra hotspots for image, containerPort, and label
## Scaling a deployment
- [ ] under kubectl get pods command the formatting of the

[2019-01-07 14:56] justineechen commented on #84
### Checklist for Post-Review
**Through the browser:**
- [ ] Read through guide, making sure that the flow of the guide is good
- [ ] Click all links to make sure they lead to the correct place
- [ ] Make sure hotspots, code_commands and files are correct
- [ ] Run Acrolinx

[2019-01-09 19:21] evelinec opened #85 "The test script isn't working on MacOS"
Setting environment variables from .travis.yml
$ export CHANGE_MINIKUBE_NONE_USER=true
$ java -Xmx32m -version
java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)
$ javac -J-Xmx32m -version
javac 10.0.1
before_script.1
0.01s$ unset _JAVA_OPTIONS
before_script.2
0.04s$ cd finish
0.05s$ sudo moun

[2019-01-15 20:19] evelinec opened #88 "Travis test with openjdk11 isn't launched for kube-intro guide"
Need investigation.

[2019-01-15 21:22] evelinec commented on #88
Invalid

[2019-01-15 21:22] #88 closed

[2019-02-14 14:10] andrewdes opened #90 "Multipane Issues"
- [x] Guide fails with Java 11 (needs to be synchronized with master branch). `pom.xml` hotspots would then need to get updated.

**Prerequisites**
- [x] None of the links in this section open in a new tab

**Deploying the microservices**
- [ ] `name:1.0-SNAPSHOT` is in blue text but `ping:1.0-SNAPSHOT` is in black text. Both these lines get highlighted at the same time with one hotspot, so the di

[2019-02-14 17:03] justineechen commented on #90
https://github.com/OpenLiberty/guides-common/pull/233/

[2019-02-14 17:08] justineechen commented on #90
The color difference is a UI issue, I opened an issue here: https://github.com/OpenLiberty/openliberty.io/issues/991
It's very strange, it actually changes color only after you hover over the hotspot but when you look at the file in the beginning it's still blue.

[2019-02-22 14:48] andrewdes commented on #90
Guide no longer fails with Java 11 after syncing multipane branch with master (multipane branch was missing Java 11 dependencies). Re-reviewed the guide and everything looks good, closing the issue and will track the UI issue separately.

[2019-02-22 14:48] #90 closed

[2019-02-28 14:56] proubatsis opened #91 "Multipane - Post-publish test"
- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs, links, hotspots) of the guide on test site, ie, qa-guides
- [x] Read through the guide
- [x] Clone repo and test finish directory with no error
- [ ] Run `diff -r start/ finish/`
- [x] Follow the instruction in the guide to test that it is working
- [x] Use the `copy` buttons instead of typing
- [x] Links open in new t

[2019-02-28 18:47] proubatsis commented on #91
* There are `pom.xml` differences between `finish/` and `start/`

[2019-03-06 13:27] andrewdes commented on #91
Merged here: https://github.com/OpenLiberty/guide-kubernetes-intro/pull/92

[2019-03-06 14:57] #91 closed

[2019-04-22 20:48] evelinec opened #106 "Daily build test issues"
The daily build test does not modify the correct `pom.xml` to point to the daily builds. Current script (below) modifies both the pom for both the name and ping services, but there's no liberty runtime configuration there.. The liberty runtime config is at the parent pom.xml in the root directory.

[code]

[2019-04-22 20:53] evelinec commented on #106
Looks like there were changes to the build configurations since the multipane conversion.. Ref to https://github.com/OpenLiberty/guide-kubernetes-intro/commit/e37624ab1f5c1bc8a0e58d62be5ca26e72272082#diff-4c6ac702f135b6ed258077262502e537

[2019-04-22 20:54] evelinec commented on #106
@gkwan-ibm @justineechen The team needs to better synchronize regarding this kind of changes.. the daily build tests have not been testing properly because of this..

[2019-04-24 15:29] evelinec commented on #106
Fixed for all 3 kube guides that are impacted. Verified the kube-health guide with `Continous Test: [cl190520190423-1900]`, and the pom.xml is modified properly with the build `<configuration>
<install><runtimeUrl>https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/nightly/2019-04-23_2055/openliberty-all-19.0.0.4-cl190520190423-1900.zip</runtimeUrl></install>

[2019-04-24 15:29] evelinec commented on #106
Fixed and closed.

[2019-04-24 15:29] #106 closed

[2019-05-30 15:34] #72 closed

[2019-11-25 18:37] jimmy1wu opened #124 "One of the labels not highlighted"
**Guide**: https://openliberty.io/guides/kubernetes-intro.html#deploying-the-microservices

When I hover over `label`, it highlights 2 `labels` fields for the inventory deployment, but only 1 `labels` field for the system deployment. I think the `labels` field which I outlined in red should also be highlighted.

Also, in the guide it calls the field `label`, but in the kubernetes.yaml it's called

[2019-11-25 19:11] MaiHameed opened #125 "Guide needs an update to use new hotspot labelling"
Brought to attention by issue #124. Guide currently still uses old numbering system.

[2020-01-09 19:26] MaiHameed opened #128 "Dev mode peer review"
Tested on a fresh Ubuntu 18 install, using the `dev-mode` branch and verified on the lgdev site.

- [x] command substitutions should use the following command syntax `$(command)` vs `'command'` as shown:
![image](https://user-images.githubusercontent.com/26514093/72097946-7af80780-32eb-11ea-8bdd-011530a22068.png)

- [x] Since we're updating the guide, might as well address hotspot issues, numbers

[2020-01-09 21:25] jimmy1wu opened #129 "dev mode peer review - macOS"
- [x] Extra period between inventory and Kubernetes Service
<kbd>
<img width="533" alt="Screen Shot 2020-01-09 at 3 36 23 PM" src="https://user-images.githubusercontent.com/33457590/72102813-daf3ab80-32f5-11ea-8d2d-35f9d1f63344.png">
</kbd>

<hr />

- [x] I think `Deployment` should be lowercase
<kbd>
<img width="545" alt="Screen Shot 2020-01-09 at 3 42 10 PM" src="https://user-images.githubuserco

[2020-01-09 21:49] evelinec commented on #128
I had setup a Ubuntu 16 machine, and the command worked fine. @gkwan-ibm what do you think?

[2020-01-13 20:46] evelinec commented on #128
The command substitutions issue is to be handled all together in https://github.com/OpenLiberty/guides-common/issues/383.

[2020-01-14 16:15] evelinec commented on #129
Regarding the `dockerfile.skip` parameter, checked with @gkwan-ibm that it's no longer needed, because the docker images are not built with the `dockerfile-maven-plugin` anymore. The text, `The dockerfile.skip parameter is set to true in order to skip building a new Docker image.` is removed.

[2020-01-14 16:16] evelinec commented on #129
All feedback addressed in the latest commits. Check out the changes here: http://lgdev1.fyre.ibm.com:4060/guides/kubernetes-intro.html

[2020-01-14 16:18] evelinec commented on #128
Feedback is addressed in the latest commits. Check out the changes here: http://lgdev1.fyre.ibm.com:4060/guides/kubernetes-intro.html @MaiHameed can you review? Thanks.

[2020-01-14 16:19] evelinec commented on #125
All feedback addressed in the latest commits. Check out the changes here: http://lgdev1.fyre.ibm.com:4060/guides/kubernetes-intro.html @MaiHameed can you review? Thanks.

[2020-01-14 16:20] evelinec commented on #124
All feedback addressed in the latest commits. Check out the changes here: http://lgdev1.fyre.ibm.com:4060/guides/kubernetes-intro.html @jimmy1wu can you review? Thanks.

[2020-01-14 19:17] MaiHameed commented on #125
Addressed.

[2020-01-14 19:17] #125 closed

[2020-01-14 19:22] jimmy1wu commented on #129
Verified ✅

[2020-01-14 19:22] #129 closed

[2020-01-14 19:33] evelinec commented on #128
Fixed command substitutions in https://github.com/OpenLiberty/guide-kubernetes-intro/pull/127/commits/6f21f063938cc8839bc4e18b0fd0ff8bc6c6b03e. @MaiHameed can you review? Thanks.

[2020-01-14 19:46] jimmy1wu commented on #124
Verified

[2020-01-14 19:46] #124 closed

[2020-01-15 15:24] MaiHameed commented on #128
Addressed.

[2020-01-15 15:24] #128 closed

[2020-06-19 21:35] gkwan-ibm commented on #61
the guide was updated to use ideal pom.xml and new LMP. The issue is not valid anymore.

[2020-06-19 21:35] #61 closed

[2020-06-19 21:37] gkwan-ibm commented on #85
Let try to run travisTest.sh locally.

[2020-06-24 17:16] gkwan-ibm commented on #85
The travis.yml and travisTest.sh should be good if run on Linux. No plan to update them to run on MacOS for this moment.

[2020-06-24 17:16] #85 closed

[2021-04-21 15:46] gkwan-ibm opened #171 "Investigate to use latest version of minikube for linux"
The latest version of minikube for Linux may not need to do following:
`eval $(minikube docker-env)`

[2021-04-21 19:42] AustinSeto commented on #171
The issue experienced by `eval $(minikube docker-env)` in our GitHub Actions tests occurs because the `none` driver is used for Minikube. This driver is used by users with root privileges on VMs. I think there should be no issue if using Linux on a non-virtual machine if the user is using a different Minikube driver.

I think this should be verified on a physical Linux machine still.

[2021-06-17 16:53] gkwan-ibm commented on #171
close because no need to fix

[2021-06-17 16:53] #171 closed, assigned to nobody

[2021-06-30 21:39] gkwan-ibm opened #183 "Cloud-hosted - ports already allocated"
When apply the kubernetes.yaml, got the port 31000 and 32000 already allocated error.

![Screen Shot 2021-06-28 at 10 51 26 AM](https://user-images.githubusercontent.com/29576299/124034991-eb0bb900-d9c9-11eb-81c0-c11603a5bc63.png)

[2021-06-30 21:43] gkwan-ibm opened #184 "Cloud-hosted - unable to access the services directly"
Unable to access the services directly, like following output
[code]

[2021-12-16 18:23] gkwan-ibm commented on #183
close
- problem was resolved by not hard code to use 31000 and 32000

[2021-12-16 18:23] #183 closed, assigned to gkwan-ibm

[2021-12-16 18:24] gkwan-ibm commented on #184
close
- used another way to access the service

[2021-12-16 18:24] #184 closed, assigned to gkwan-ibm

[2022-05-03 02:30] djhallx opened #208 "Is something missing from the section: "Next you will make requests to your services.""
I have been walking through this guide and everything seems to be working up to the point where I am supposed to be able to connect to the running services. This step does not appear to work. Is there a missing step prior to this to expose the ip addresses?

If I run: `minikube service --all --ulr` I get the following:

😿  service default/hello-world has no node port
😿  service default/hello-world

[2022-05-03 21:56] gkwan-ibm commented on #208
hi @djhallx
would you tell us which platform you used and give us following?
[code]

[2022-05-04 00:55] djhallx commented on #208
mvn -version
Apache Maven 3.5.3 (3383c37e1f9e9b3bc3df5050c29c8aff9f295297; 2018-02-24T14:49:05-05:00)
Maven home: D:\Root\Tools\maven\apache-maven-3.5.3-bin\apache-maven-3.5.3\bin\..
Java version: 14, vendor: Oracle Corporation
Java home: D:\Root\Tools\Java\jdk-14
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

minikube ver

[2022-05-04 13:44] gkwan-ibm commented on #208
hi @djhallx

As the guide described, Dockerdesktop is preferable for Windows. We need time to investigate by using minikube. Instead, you can try our cloud-hosted version without setting up any prerequisites. To launch the lab, click the "Run in cloud" button that located at the top "Prerequisites" section of the right side.

[2022-05-04 13:51] gkwan-ibm commented on #208
hi @djhallx

By the way, did you try [kubernetes port-forward](https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#forward-a-local-port-to-a-port-on-the-pod) to access the running service?

[2022-05-04 14:16] djhallx commented on #208
Yes, I did eventually figure out that I needed to use port-forwarding. The other issue that I think might be relevant is that the two services did not have "externalIPs" IP addresses as defined in the kubernetes.yaml file provided in the example. When I ran "kubectl get svc" the column for "EXTERNAL-IP" was "none" for all entries. I then added an "externalIPs" entry for each service in the kuberne

[2022-05-05 19:40] gkwan-ibm commented on #208
hi @djhallx I am curious which Docker you are using? Docker from DockerDesktop? Or docker client with a Linux box?

[2022-08-26 11:36] ozcanli opened #223 "Error after updating the images names and nodePorts"
I had following error when I updated the image names with the following commands:

sed -i 's=system:1.0-SNAPSHOT=us.icr.io/'"$SN_ICR_NAMESPACE"'/system:1.0-SNAPSHOT\n        imagePullPolicy: Always=g' kubernetes.yaml
sed -i 's=inventory:1.0-SNAPSHOT=us.icr.io/'"$SN_ICR_NAMESPACE"'/inventory:1.0-SNAPSHOT\n        imagePullPolicy: Always=g' kubernetes.yaml
sed -i 's=nodePort: 31000==g' kubernetes.ya